/*---------------------- Google Fonts ----------------------*/

@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');

/*------------------- Root variables ----------------*/

:root {

    /*----------------fonts and typography-----------------*/

--font-sans: 'Signika', sans-serif;

    /*----------------font size-----------------*/


    /*----------------font weight-----------------*/


    /*----------------Colors-----------------*/
    --color-1: #4B778D;
    --color-2: #28B5B5;
    --color-3: #8FD9A8;
    --color-4: #D2E69C;

    /*--------------Colors percentage*/
    --in-process:  #a5ee1d;
    --basic: #66a756;
    --intermediate: #477728;
    --intermediate-advanced:  #265534;
    --advanced: #25573a;

    /*----------------backgrounds-----------------*/

--backgound-nav: red;

    /*----------------widths-----------------*/

--width-header: 100%;

    /*----------------Heights-----------------*/

--heigth-header: 100px;
}

/*------------------- Base -----------------------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
   font-family: var(--font-sans);
}



/*---------------------- Header ----------------------*/

.header-main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background: white;
    transition: 0.3s;
    z-index: 1;
    box-shadow: 0px 10px 30px -10px #020c1bb3;  
    
}

.header-main__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 100px;
}

.skin-a {
    text-decoration: none;
}

.skin-a:focus {
    outline: 2px dashed var(--color-2);
    outline-offset: 14px;
}

.logo-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1rem, 1.5rem, 2rem);
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    width: 100px;
    min-width: 50px;
    height: 50px;
    border: 2px dotted #6fba4d;
    border-radius: 10px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    background: rgb(151, 223, 118);
}

.styled-links-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.styled-ul {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.styled-li {
    display: flex;
    padding: 12px 20px;
}

.resume-button a {
    padding: 14px 20px;
    border: 2px dotted var(--color-3);
}

.resume-button a:focus {
    background: var(--color-3);
    outline-offset: 2px;
}

.styled-li a {
    padding: 2px 18px;
}

/*---------------------- Header end----------------------*/

/*----------------- Social network ---------*/

.social-styled-social-list {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 37.5px;
    right: auto;
    z-index: 4;

}

.sssl__styled-social-list {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.sssl__styled-social-list::after {
    content: " ";
    width: 25px;
}

.sssl__styled-social-list li {
    width: 100%;

}

.sssl__styled-social-list a {
    color: #000;
}
/*----------------- Social network end ---------*/

/*----------------- bg box --------------- */

.page-styled-main__box-bg {
    position: absolute;
    top: -100px;
    left: -100px;

    width: 500px;
    min-width: 200px;
    height: 500px;
    min-height: 200px;
    background: #85d0dc;
    border-radius: 50%;
}

.page-styled-main__box-bg--2 {
    top: 0;
    left: 50%;
    width: 200px;
    height: 300px;
    border-radius: 20px;
    background: #e8b5bb;
}

.page-styled-main__box-bg--3 {
    top: 690px;
    left: 215px;
    width: 200px;
    height: 200px;
    background: #9b9949;
    border-radius: 100% 100% 0 0;
    transform: rotate(60deg);
}

.page-styled-main__box-bg--4 {
    top: 720px;
    left: 65%;
    width: 200px;
    height: 500px;
    border-radius: 20px;
    transform: rotate(-45deg);
    background: #85d0dc;
}

.page-styled-main__box-bg--5 {
    top: 1350px;
    left: 212px;
    background: #e8b5bb;
} 

.page-styled-main__box-bg--6 {
    top: 1800px;
    left: auto;
    right: 10%;
    background: #9b9949;
    border-radius: 20px;
    width: 300px;
    height: 300px;
}

.page-styled-main__box-bg--7 {
    top: 2000px;
    left: 215px;
    width: 200px;
    height: 200px;
    background: #85d0dc;
    border-radius: 100% 100% 0 0;
    transform: rotate(120deg);
}

.page-styled-main__box-bg--8 {
    top: 2500px;
    left: 15%;
    width: 200px;
    height: 500px;
    border-radius: 20px;
    transform: rotate(45deg);
    background: #e8b5bb;
}

.page-styled-main__box-bg--9 {
    top: 2700px;
    
    left: auto;
    right: 10%;
    width: 200px;
    height: 300px;
    border-radius: 20px;
    background: #9b9949;
}

.page-styled-main__box-bg--10 {
    top: 3200px;
    left: 212px;
    background: #85d0dc;
} 

.page-styled-main__box-bg--11 {
    top: 4300px;
    bottom: auto;
    left: 0;
    right: auto;
    background: #9b9949;
    border-radius: 20px;
    width: 300px;
    height: 300px;
    transform: rotate(45deg);
}

.page-styled-main__box-bg--12 {
    top: 4350px;
    bottom: auto;
    left: auto;
    right: 10%;
    background: #e8b5bb;
    border-radius: 20px;
    width: 100px;
    height: 100px;
    transform: rotate(-45deg);
}



/*---------------------------------------- Main -------------------------------------------*/



.page-styled-main {
    position: relative;
    padding: 0px 100px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.5);
}






/*----------------- Hero main ---------------------*/

.hero-styled-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* border: 2px solid black; */
}

.hsmc__hero-body {
    display: grid;
    grid-template-columns: repeat(10, minmax(50px, 1fr));
    width: 100%;
    height: 50vh;
}

.hsmc__hero-body--left {
    grid-area: 1 / 1 / 1 / 6;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 3fr;
    min-width: 300px;
    width: 100%;
    height: 50vh;
    padding-left: 57px;
}

.hsmc__hero-body--right {
    grid-area: 1 / 7 / 1 / 10;
    width: 100%;
    min-width: 300px;
    min-width: 300px;
    height: 100%;
    /* backdrop-filter: blur(10px);
    background: rgba(205, 208, 224, 0.185);
    border-radius: 20px 20px 0 0;
    mix-blend-mode: color;
    box-shadow: 10px -10px 15px 1px #131932 inset; */
}


.hsmc__hero-body--right__img {
    display: flex;
    justify-content: center;
}

.hero-photo {
    width: 100%;
    height: 50vh;
    /* padding-top: 70px; */
    object-fit: contain;
}

.animation-enter-done {
    width: 100%;
    height: 100%;
}

.big-main-header {
    font-size: clamp(14px, 1.5vw, 40px);
    box-sizing: border-box;
    padding: 10px 0 0 0;
}

.big-header {
    font-size: clamp(20px, 3.5vw, 80px);
    /* padding: 10px 0 0 0; */
}

.hsmc__hero-body--left--body {
    padding: 0 0 0 0;
}

.hsmc__hero-body--left--body__filling {
    font-size: 20px;
}

/*----------------- Hero main end ---------------------*/



/*----------------- about me -----------------*/

.section-about-me-skills {
    position: relative;
    /* background-color: rgba(49, 163, 197, 0.493); */
    padding: 350px 0 0 0;
}

.sams__about-me-styled {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "title img"
                        "content-about img";
    top: -185px;
    left: 5%;
    right: 5%;
    width: 90%;
    min-width: 400px;
    height: 425px;
    padding: 0px 100px;
    min-height: 300px;
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    background-color: #ffffff21;
    backdrop-filter: blur(10px);
    /* border: 2px solid black; */
    box-shadow: 8px 13px 30px -1px rgba(40,44,49,0.79);
    -webkit-box-shadow: 8px 13px 30px -1px rgba(40,44,49,0.79);
    -moz-box-shadow: 8px 13px 30px -1px rgba(40,44,49,0.79);
    overflow: hidden;
}

.sams__ams__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-area: title;
    font-size: 2rem;
    /* padding-top: 55px; */
}

.sams__ams__about-styled-text {
    grid-area: content-about;
    font-size: 1.1rem;
    max-height: 200px;
    max-width: 100%;
}

.about-styled-img {
    grid-area: img;
    justify-self: center;
    align-self: center;
}

/*----------------- about me end -----------------*/


/*----------------- skills -----------------*/

.skills {
    display: grid;
    grid-template-rows: 1fr 1fr 3fr;
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    background-color: #ffffff21;
    backdrop-filter: blur(10px);
    box-shadow: 8px 13px 30px -1px rgba(40,44,49,0.79);
    -webkit-box-shadow: 8px 13px 30px -1px rgba(40,44,49,0.79);
    -moz-box-shadow: 8px 13px 30px -1px rgba(40,44,49,0.79);
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.skills__title {
    justify-self: center;
    align-self: flex-start;
    font-size: 2rem;
}

.skills__container-percentage {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    /* border: 1px solid #000; */
}

.scp__percentage-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;

    padding: 10px;
}

.in-process {
    background: #c8c29a;
}

.basic-percentage {
    background: #d6aca1;
}

.intermediate-percentage {
    background: #66bb9d;
}

.intermediate-advanced-percentage {
    background: #e3b438;
}

.advanced-percentage  {
    background: #de614a;
}

.skills__container-skills {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.scs__skills-container-skins {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.scs__title {
    padding-left: 20px;
    width: 15%;
}

.scs__container--box-skin {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 85%;
}

.scs--box-skin {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

/* .scs__fsc--html {
    background: #f14a22;
} */

.scs--box__header-skin {
    background-image: radial-gradient(circle at 82.84% 50%, #ffa957 0, #ff944b 25%, #f2793c 50%, #e55d30 75%, #db432c 100%);
    width: 100%;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 3px;
}

/* .scs--box__header-html {
    background: rgb(214,76,72);
    background: linear-gradient(90deg, rgba(214,76,72,1) 14%, rgba(242,100,92,1) 36%, rgba(242,100,92,1) 55%, rgba(214,76,72,1) 83%);
}

.scs--box__header-css {
    background: rgb(76,127,183);
    background: linear-gradient(90deg, rgba(76,127,183,1) 14%, rgba(101,150,207,1) 32%, rgba(125,173,232,1) 57%, rgba(76,127,183,1) 82%);
}

.scs--box__header-responsive {
    background: rgb(213,178,170);
    background: linear-gradient(90deg, rgba(213,178,170,1) 14%, rgba(234,218,209,1) 44%, rgba(215,190,179,1) 66%, rgba(213,178,170,1) 83%);
}

.scs--box__header-javascript {
    background: rgb(228,177,2);
    background: linear-gradient(90deg, rgba(228,177,2,1) 14%, rgba(241,203,88,1) 37%, rgba(241,203,88,1) 64%, rgba(228,177,2,1) 79%);
}

.scs--box__header-typescript {
    background: rgb(125,173,232);
    background: linear-gradient(90deg, rgba(125,173,232,1) 14%, rgba(169,207,237,1) 44%, rgba(169,207,237,1) 59%, rgba(125,173,232,1) 79%);
}

.scs--box__header-sass {
    background: rgb(190,115,151);
    background: linear-gradient(90deg, rgba(190,115,151,1) 14%, rgba(223,146,182,1) 37%, rgba(223,146,182,1) 60%, rgba(190,115,151,1) 79%); 
}

.scs--box__header-react {
    background: rgb(43,168,199);
    background: linear-gradient(90deg, rgba(43,168,199,1) 14%, rgba(120,197,216,1) 35%, rgba(145,207,222,1) 61%, rgba(43,168,199,1) 78%);
}

.scs--box__header-sql {
    background: rgb(61,149,186);
    background: linear-gradient(90deg, rgba(61,149,186,1) 14%, rgba(97,179,218,1) 35%, rgba(97,179,218,1) 52%, rgba(61,149,186,1) 78%);
}

.scs--box__header-nodejs {
    background: rgb(48,48,48);
    background: linear-gradient(90deg, rgba(48,48,48,1) 0%, rgba(82,146,72,1) 21%, rgba(102,181,67,1) 66%, rgba(48,48,48,1) 100%);
}

.scs--box__header-expressjs {
    background: rgb(150,140,140);
    background: linear-gradient(90deg, rgba(150,140,140,1) 4%, rgba(143,132,127,1) 30%, rgba(215,195,23,1) 56%, rgba(215,195,23,1) 97%);
}

.scs--box__header-python {
    background: rgb(54,114,166);
    background: linear-gradient(90deg, rgba(54,114,166,1) 19%, rgba(242,241,238,1) 39%, rgba(242,241,238,1) 58%, rgba(242,209,76,1) 77%);
}

.scs--box__header-photoshop {
    background: rgb(23,62,106);
    background: linear-gradient(90deg, rgba(23,62,106,1) 4%, rgba(28,125,173,1) 38%, rgba(23,129,182,1) 59%, rgba(0,23,49,1) 95%);
}

.scs--box__header-illustrator {
    background: rgb(90,66,48);
    background: linear-gradient(90deg, rgba(90,66,48,1) 0%, rgba(216,123,0,1) 30%, rgba(216,123,0,1) 61%, rgba(90,66,48,1) 100%);
}

.scs--box__header-adobexd {
    background: rgb(121,7,95);
    background: linear-gradient(90deg, rgba(121,7,95,1) 0%, rgba(206,134,195,1) 30%, rgba(206,134,195,1) 61%, rgba(121,7,95,1) 100%);
}

.scs--box__header-figma {
    background: rgb(44,34,42);
    background: linear-gradient(90deg, rgba(44,34,42,1) 0%, rgba(233,72,31,1) 30%, rgba(150,86,242,1) 45%, rgba(41,169,242,1) 50%, rgba(20,194,116,1) 61%, rgba(121,7,95,1) 100%);
}

.scs--box__header-filmora {
    background: rgb(40,54,65);
background: linear-gradient(90deg, rgba(40,54,65,1) 0%, rgba(242,242,242,1) 33%, rgba(95,191,160,1) 59%, rgba(40,54,65,1) 100%);
} */

.scs--box__levels {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background: blue; */
    width: 100%;

}

.scs__levels__circle {
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
}

.scs__levels__in-process {
    background: var(--basic);
}


.scs__levels__basic-percentage {
    background: var(--intermediate);
}

.scs__levels__intermediate-percentage {
    background: var(--intermediate-advanced);
}

/*----------------- skills end -----------------*/


/*------------- project contact me -----------*/

.project-contact-me {
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    margin: 100px 0;
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    background-color: #ffffff21;
    backdrop-filter: blur(10px);
    box-shadow: 8px 13px 30px -1px rgba(40,44,49,0.79);
    -webkit-box-shadow: 8px 13px 30px -1px rgba(40,44,49,0.79);
    -moz-box-shadow: 8px 13px 30px -1px rgba(40,44,49,0.79);
    overflow: hidden;
}



.pcm__project--container-data-contact-me {
    display: grid;
    grid-template-columns: repeat(10, minmax(100px, 1fr));
    grid-template-rows: repeat(5, minmax(100px, 1fr));
    justify-items: center;
    align-items: center;
    /* background: mediumorchid; */

    width: 100%;
    height: 100%;
}

.project__title-contact-me {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 2rem;
}

.project__description-contact-me {
    grid-area: 3 / 2 / 4 / 5;
}

.project-contact-me__button {
    grid-area: 4 / 2 / 5 / 5;
    border: 2px solid #000;
    border-radius: 10px;
    background: rgba(143, 44, 182, 0.555);
    padding: 15px 25px;
    cursor: pointer;
}

.project-contact-me__img {
    grid-area: 2 / 6 / 5 / 10;
}

/*--------- project contact me end ---------*/

/*---------------------- projects -----------------------*/

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background: rgba(38, 172, 120, 0.61); */
    width: 100%;
    /* height: 110vh; */
    padding: 100px 20px;
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    background-color: #ffffff21;
    backdrop-filter: blur(10px);
    box-shadow: 8px 13px 30px -1px rgba(40,44,49,0.79);
    -webkit-box-shadow: 8px 13px 30px -1px rgba(40,44,49,0.79);
    -moz-box-shadow: 8px 13px 30px -1px rgba(40,44,49,0.79);
    overflow: hidden;
}

.project__title {
    vertical-align: middle;
    text-align: center;
    font-size: 2rem;
}

.project__container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
}

.project__container-grid--card {
    display: flex;
    -webkit-box-pack: justify;
    flex-direction: column;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 2rem 2rem;
    /* border: 2px solid #000; */
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    background-color: #ffffff21;
    backdrop-filter: blur(10px);
    box-shadow: 7px 17px 44px 4px rgba(31,26,26,0.49);
    -webkit-box-shadow: 7px 17px 44px 4px rgba(31,26,26,0.49);
    -moz-box-shadow: 7px 17px 44px 4px rgba(31,26,26,0.49);

}

/* .project__container__card {

} */

.project__container__card__box-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 0 10px 0;
}

.project__container__card__box-img__img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.project__container__card__project-top-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.project__container__card__project-top-links img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.project__container__card__title {
    text-align: center;
}

.project__container__card__description {
    padding: 20px 0 20px 0;
}

.project__container__card__description__container-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.project__container__card__description__container-button__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 17px;
    border: 2px solid #000;
    border-radius: 10px;
    background: rgba(29, 148, 148, 0.685);
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
}

.pccdb__icon {
    display: inline-block;
    background-image: url('../img/flecha_derecha.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    width: 25px;
    height: 20px;
    cursor: pointer;
}

.project__container__card__footer {
    width: 100%;
}

.pccf__project-tech-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}


/*---------------------- projects end -----------------------*/

/*--------------- section modal project --------------*/

.modal-project {
    display: none;
}

/*--------------- section modal project end --------------*/


/*----------- contact me -----------*/

.contact-me {
    width: 100%;
    /* height: 100vh; */
    padding: 100px 0;
    margin: 100px 0 0 0;
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    background-color: #ffffff21;
    backdrop-filter: blur(10px);
    box-shadow: 7px 17px 44px 4px rgba(31,26,26,0.49);
    -webkit-box-shadow: 7px 17px 44px 4px rgba(31,26,26,0.49);
    -moz-box-shadow: 7px 17px 44px 4px rgba(31,26,26,0.49);
}

.contact-me__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.contact-me__title {
    font-size: 2rem;
}

.contact-me__container-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.contact-me__content {

    background: rgba(59, 183, 214, 0.616);
    border-radius: 0.5rem;
    padding: 5px 10px;
    width: 70%;
}

.contact-me__label {
    font-size: 1.3rem;

}

.contact-me__input {
    width: 100%;
    height: 52px;
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
    padding: 0 5px;
    outline: none;

}

.contact-me__input:focus {
    outline-style: dotted;
}

.contact-me__input--textarea {
    height: auto;
}

.contac-me__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 15%;
    height: 54px;
    border: 2px solid #000;
    border-radius: 10px;
    background: rgba(59, 183, 214, 0.616);

    cursor: pointer;
}

.contact-me__button__icon {
    background-image: url('../img/flecha_derecha.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 20px;
}

/*----------- contact me -----------*/


/*---------------------- footer ----------------------*/

.section-footer {
    display: grid;
    grid-template-columns: repeat(15, minmax(50px, 1fr));
    grid-template-rows: repeat(6, minmax(50px, 1fr));
    width: 100%;
    padding: 0 100px;

    /* border-radius: 20px; */
    /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
    background-color: #ffffff21;
    backdrop-filter: blur(10px);
    /* box-shadow: 8px 13px 30px -1px rgba(40,44,49,0.79);
    -webkit-box-shadow: 8px 13px 30px -1px rgba(40,44,49,0.79);
    -moz-box-shadow: 8px 13px 30px -1px rgba(40,44,49,0.79); */
    overflow: hidden;
}

.sf__title {
    grid-area: 2 / 4 / 4 / 6;
    padding-block-start: 10px;
    font-size: 2rem;
    letter-spacing: 3px;
}

.sf__subtitle {
    grid-area: 2 / 3 / 6 / 4;
    display: flex;
    align-items: center;
    writing-mode: vertical-rl;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 5px;
    text-align: center;
    padding-inline-start: 5px;


}

.footer__social-styled-social-list {
    grid-area: 3 / 7 / 4 / 10;
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;


}

/* .fotter__social-styled-social-list {
    display: flex;
    width: 100%;
    height: 100%;

} */

.fsssl__styled-social-list {
    display: flex;
    /* flex-direction: column; */
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.fsssl__styled-social-list li {
    width: 3%;
    min-width: 30px;
}

.footer__blocks-decorations {
    grid-area: 4 / 7 / 5 / 10;
    display: inline-flex;
    /* border-style: dashed; */
    background-color: rgba(56, 155, 155, 0.692);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(151, 223, 118);
}

.footer__blocks-decorations__child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.footer__blocks-decorations-box {
    grid-area: 3 / 8 / 4 / 9;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(56, 155, 155, 0.692);
    border-radius: 10px 10px 0 0;
    box-shadow: 10px -5px 10px rgb(151, 223, 118);    
}

.sf__footer-content {
    grid-area: 5 / 6 / 6 / 11;
    text-align: center;
    padding-block-start: 10px;
}

.back-to-top-wrapper {
    grid-area: 6 / 15 / 7 / 16;
    width: 100%;
    height: 100%;
}

.back-to-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 2px solid #000;
    border-radius: 10px;
    cursor: pointer;
}